src:
    type: mysql
    name: redmine_official
    host: localhost
    user: root
    pass: test
    ssh:
        host: 192.168.0.1
        user: test
        pass: test123
        path: /home/redmine/files/

dst:
    type: postgresql
    name: redmine_default
    host: 127.0.0.1
    user: postgres
    pass: test
    path: /var/lib/redmine/default/files/

commit_at_each_entry: false

relative:
    reference_table: issues
    new_sequence: 500000
